CartMass:                                0.5
CartFriction:                            0.1
PendulumMass:                            0.2
PendulumLength:                          0.3
PendulumInertia:                         0.006
