Qx:                                      1
Qv:                                      1
Qa:                                      1
Rx:                                      0.1
Rv:                                      5
Ra:                                      0.1
